{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<div class="col-sm-10">
    <h3 class="text-white my-5">About Page</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias earum excepturi illo laudantium maxime minima suscipit! Ab, accusantium aliquid aut autem consectetur delectus deleniti eos error exercitationem explicabo fuga, harum hic in magni minima nemo nisi non nostrum possimus quae quasi repudiandae suscipit tempore. Ad atque exercitationem impedit quidem suscipit.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, beatae id, itaque maiores officia omnis pariatur quis quisquam recusandae, sapiente suscipit tempore voluptas. Amet corporis dicta doloremque ex excepturi expedita, iusto, magnam necessitatibus nobis porro possimus recusandae temporibus? Aliquam architecto aspernatur, similique temporibus tenetur veniam?</p>
</div>
{% endblock content %}